@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    list-style: none;
 }

 body{
    background: #f5dff0;
  }

  .wrapper{
    margin-top: 173px;
    width: 600px;
    height: 530px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.wrapper h1{
    margin-top: 12px;
    font-size: 24px;
    color: #07001f;
}

form input{
    width: 85%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.forgot{
    text-align: right;
    font-size: 0.8rem;
    margin: 2px 35px 0 0;
}
.forgot a{
  text-decoration: none;
  color: #98058c;
}
.login-btn{
    border-radius: 5px;
    /* margin-top: -20px; */
}
button{
  font-size: 17px;
  
  padding: 8px 0;
  /* border-radius: 5px; */
  outline: none;
  border: none;
  width: 85%;
  background: rgb(255, 0, 174);
  color: #fff;
  cursor: pointer;
}
button:hover{
  background: rgba(0, 126, 52, 0.767);
}
.or{
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.icons i{
  color: #07001f;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}
.icons .fa-facebook:hover{
  color: #fff ;
  background: #2b05a7;
  transition: 1s;
}
.icons .fa-google:hover{
    color: #fff ;
  background: #a70505;
  transition: 1s;
}
.icons i:first-child{
  color: green;
}
.icons i:last-child{
  color: blue;
}
.not-acc{
  font-size: 0.8rem;
  margin-top: 1.4rem;
}
.not-acc a{
  color: tomato;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
header{
    top: 0;
}